<nav class="navbar fixed-bottom navbar-dark bg-dark">
    {{#if user}}
   <a class="navbar-brand" href="/profile"><i class="fa fa-user"></i></a>  
  <a class="navbar-brand" href="/addPost"><i class="fa fa-plus-square-o"></i></a>
  <a class="navbar-brand" href="#">&copy 2018</a>
  {{else}}
    <a class="navbar-brand" href="#">Brush Nest inc.</a>
      <a class="navbar-brand" href="#">&copy 2018 all rights reserved</a>
  {{/if}}
</nav>