<div class="container-fluid">
    <div class="row">
         {{#each users}}
        <div class="col-sm-3">
            <div class="card">
  <img class="card-img-top" src="{{image}}">
  <div class="card-body">
  <a class="users-link" title="click here to know more about user" href="/user/{{id}}"> <h5 class="card-title">{{fullname}}</h5></a>
    <p id="address" class="card-title">{{location}}</p>
  </div>
    </div>
        </div>
         {{/each}}
    </div>
</div>